<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bjtu.examsys.dao.AdminDao">
    <resultMap id="BaseResultMap" type="com.bjtu.examsys.domain.Admin">
        <result column="adminId" property="adminId"/>
        <result column="password" property="password"/>
        <result column="gender" property="gender"/>
    </resultMap>

    <select id="findAdminByUserId" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT *
        FROM admin
        WHERE adminId = #{adminId}
    </select>

</mapper>
