<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bjtu.examsys.dao.QuestionDao">
    <resultMap id="BaseResultMap" type="com.bjtu.examsys.domain.Question">
        <result column="questionId" property="questionId"/>
        <result column="time" property="time"/>
        <result column="score" property="score"/>
        <result column="occupation" property="occupation"/>
        <result column="questionType" property="questionType"/>
        <result column="difficulty" property="difficulty"/>
        <result column="questionContent" property="questionContent"/>
        <result column="questionAnswer" property="questionAnswer"/>
        <result column="questionAnalysis" property="questionAnalysis"/>
    </resultMap>

    <select id="findQuestionByQuestionId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT *
        FROM question
        WHERE questionId = #{questionId}
    </select>

    <insert id="addQuestions" parameterType="com.bjtu.examsys.domain.Question">
        INSERT INTO
        question
        (time, score, occupation, questionType,difficulty,questionContent,questionAnswer,questionAnalysis)
        VALUES
        (#{question.time}, #{question.score}, #{question.occupation}, #{question.questionType},#{question.difficulty},#{question.questionContent},#{question.questionAnswer},#{question.questionAnalysis})
    </insert>

    <select id="getAllQuestions" resultType="com.bjtu.examsys.domain.Question">
        SELECT *
        FROM question
    </select>

    <delete id="deleteQuestionByIds" parameterType="java.lang.Integer">
        DELETE FROM
        question
        WHERE questionId IN
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getQuestionsWithTypeAndNum" resultType="com.bjtu.examsys.domain.Question">
        SELECT
         *
        FROM
         question
         WHERE
         questionType=#{questionType}
         ORDER BY RAND() LIMIT #{num}
    </select>
</mapper>
